@page "/dbsizestats"
@inject IDbSizeStatsApiClient ApiClient
@rendermode InteractiveServer

<PageTitle>Database Size Statistics</PageTitle>

<h1>Database Size Statistics</h1>

@if (isLoading)
{
    <RadzenProgressBarCircular ShowValue="true" Mode="ProgressBarMode.Indeterminate" Size="ProgressBarCircularSize.Large">
        <Template>Loading...</Template>
    </RadzenProgressBarCircular>
}
else if (errorMessage != null)
{
    <RadzenAlert AlertStyle="AlertStyle.Danger" Shade="Shade.Light" AllowClose="false">
        @errorMessage
    </RadzenAlert>
    <RadzenButton Text="Retry" Click="LoadData" Style="margin-top: 10px;" />
}
else
{
    <div class="row">
        <div class="col-md-6">
            <RadzenCard>
                <h4>Select Database</h4>
                <RadzenDropDown @bind-Value="selectedDatabase" 
                                Data="@databases" 
                                TextProperty="DatabaseName" 
                                ValueProperty="DatabaseName"
                                Placeholder="Select a database..."
                                Style="width: 100%;"
                                Change="OnDatabaseSelected" />
            </RadzenCard>
        </div>
        <div class="col-md-6">
            <RadzenCard>
                <RadzenButton Text="Refresh Data" Click="LoadData" Icon="refresh" />
            </RadzenCard>
        </div>
    </div>

    <div class="row" style="margin-top: 20px;">
        @* Donut Chart for Selected Database - ApexCharts *@
        <div class="col-md-6">
            <RadzenCard>
                <h4>@(selectedDatabase ?? "All Databases") - Space Usage</h4>
                @if (selectedDatabaseData != null)
                {
                    <div style="text-align: center; margin-bottom: 10px;">
                        <strong>Total Allocated: @selectedDatabaseData.TotalAllocatedMB.ToString("N2") MB</strong>
                    </div>
                    <ApexChart TItem="ChartDataItem"
                               Title=""
                               Options="dbSpaceChartOptions"
                               Height="350">
                        <ApexPointSeries TItem="ChartDataItem"
                                         Items="dbSpaceChartData"
                                         SeriesType="SeriesType.Donut"
                                         XValue="e => e.Label"
                                         YValue="e => e.Value"
                                         OrderBy="e => e.X" />
                    </ApexChart>
                }
                else
                {
                    <p>Select a database to view details</p>
                }
            </RadzenCard>
        </div>

        @* Stacked Bar Chart for All Databases - ApexCharts *@
        <div class="col-md-6">
            <RadzenCard>
                <h4>All Databases Comparison</h4>
                <ApexChart TItem="DatabaseSizeAggregate"
                           Title=""
                           Options="allDbChartOptions"
                           Height="350">
                    <ApexPointSeries TItem="DatabaseSizeAggregate"
                                     Items="databases"
                                     SeriesType="SeriesType.Bar"
                                     Name="Used (MB)"
                                     XValue="e => e.DatabaseName"
                                     YValue="e => e.TotalUsedMB" />
                    <ApexPointSeries TItem="DatabaseSizeAggregate"
                                     Items="databases"
                                     SeriesType="SeriesType.Bar"
                                     Name="Free (MB)"
                                     XValue="e => e.DatabaseName"
                                     YValue="e => e.TotalFreeMB" />
                </ApexChart>
            </RadzenCard>
        </div>
    </div>

    @* Data Grid with Details - Keep Radzen *@
    <div class="row" style="margin-top: 20px;">
        <div class="col-12">
            <RadzenCard>
                <h4>Database Details</h4>
                <div class="table-responsive">
                    <QuickGrid Items="@databases.AsQueryable()" TItem="DatabaseSizeAggregate" Class="table table-striped table-hover align-middle">
                        <PropertyColumn Title="Instance" Property="@(db => db.InstanceName)" Sortable="true" />
                        <PropertyColumn Title="Database" Property="@(db => db.DatabaseName)" Sortable="true" />
                        <TemplateColumn Title="Allocated (MB)">
                            @context.TotalAllocatedMB.ToString("N2")
                        </TemplateColumn>
                        <TemplateColumn Title="Used (MB)">
                            @context.TotalUsedMB.ToString("N2")
                        </TemplateColumn>
                        <TemplateColumn Title="Free (MB)">
                            @context.TotalFreeMB.ToString("N2")
                        </TemplateColumn>
                        <TemplateColumn Title="Used %">
                            <RadzenProgressBar Value="@context.UsedPercent" Max="100" Style="height: 20px;" 
                                               ProgressBarStyle="@(context.UsedPercent > 90 ? ProgressBarStyle.Danger : context.UsedPercent > 75 ? ProgressBarStyle.Warning : ProgressBarStyle.Success)" />
                        </TemplateColumn>
                    </QuickGrid>
                </div>
            </RadzenCard>
        </div>
    </div>

    @* FileGroup Statistics for Selected Database *@
    @if (selectedDatabase != null && fileGroups.Any())
    {
        <div class="row" style="margin-top: 20px;">
            <div class="col-md-6">
                <RadzenCard>
                    <h4>@selectedDatabase - FileGroup Breakdown</h4>
                    <ApexChart TItem="FileGroupAggregate"
                               Title=""
                               Options="fileGroupChartOptions"
                               Height="300">
                        <ApexPointSeries TItem="FileGroupAggregate"
                                         Items="fileGroups"
                                         SeriesType="SeriesType.Bar"
                                         Name="Used (MB)"
                                         XValue="e => e.FileGroup"
                                         YValue="e => e.UsedMB" />
                        <ApexPointSeries TItem="FileGroupAggregate"
                                         Items="fileGroups"
                                         SeriesType="SeriesType.Bar"
                                         Name="Free (MB)"
                                         XValue="e => e.FileGroup"
                                         YValue="e => e.FreeMB" />
                    </ApexChart>
                </RadzenCard>
            </div>
            <div class="col-md-6">
                <RadzenCard>
                    <h4>FileGroup Details</h4>
                    <div class="table-responsive" style="height: 300px;">
                        <QuickGrid Items="@fileGroups.AsQueryable()" TItem="FileGroupAggregate" Class="table table-striped table-hover align-middle">
                            <PropertyColumn Title="FileGroup" Property="@(fg => fg.FileGroup)" Sortable="true" />
                            <PropertyColumn Title="Type" Property="@(fg => fg.FileType)" Sortable="true" />
                            <PropertyColumn Title="Files" Property="@(fg => fg.FileCount)" Sortable="true" />
                            <TemplateColumn Title="Allocated">
                                @context.AllocatedMB.ToString("N2")
                            </TemplateColumn>
                            <TemplateColumn Title="Used">
                                @context.UsedMB.ToString("N2")
                            </TemplateColumn>
                            <TemplateColumn Title="Free">
                                @context.FreeMB.ToString("N2")
                            </TemplateColumn>
                            <TemplateColumn Title="Used %">
                                <RadzenProgressBar Value="@context.UsedPercent" Max="100" Style="height: 18px;" 
                                                   ProgressBarStyle="@(context.UsedPercent > 90 ? ProgressBarStyle.Danger : context.UsedPercent > 75 ? ProgressBarStyle.Warning : ProgressBarStyle.Success)" />
                            </TemplateColumn>
                        </QuickGrid>
                    </div>
                </RadzenCard>
            </div>
        </div>
    }

    @* Disk Space Information *@
    @if (diskSpaceInfo.Any())
    {
        <div class="row" style="margin-top: 20px;">
            <div class="col-md-6">
                <RadzenCard>
                    <h4>Disk Space Overview</h4>
                    @if (diskSpaceInfo.Count == 1)
                    {
                        @* RadialBar gauge for single disk *@
                        <ApexChart TItem="DiskSpaceInfo"
                                   Title=""
                                   Options="diskRadialOptions"
                                   Height="300">
                            <ApexPointSeries TItem="DiskSpaceInfo"
                                             Items="diskSpaceInfo"
                                             SeriesType="SeriesType.RadialBar"
                                             XValue="e => e.DrivePath"
                                             YValue="e => (decimal)e.UsedPercent" />
                        </ApexChart>
                        <div style="text-align: center;">
                            <strong>@diskSpaceInfo.First().DrivePath</strong>: 
                            @diskSpaceInfo.First().FreeDriveMB.ToString("N0") MB free of @diskSpaceInfo.First().TotalDriveMB.ToString("N0") MB
                        </div>
                    }
                    else
                    {
                        @* Donut chart for multiple disks *@
                        <ApexChart TItem="ChartDataItem"
                                   Title=""
                                   Options="diskDonutOptions"
                                   Height="300">
                            <ApexPointSeries TItem="ChartDataItem"
                                             Items="diskChartData"
                                             SeriesType="SeriesType.Donut"
                                             XValue="e => e.Label"
                                             YValue="e => e.Value"
                                             OrderBy="e => e.X" />
                        </ApexChart>
                    }
                </RadzenCard>
            </div>
            <div class="col-md-6">
                <RadzenCard>
                    <h4>Disk Space Details</h4>
                    <div class="table-responsive">
                        <QuickGrid Items="@diskSpaceInfo.AsQueryable()" TItem="DiskSpaceInfo" Class="table table-striped table-hover align-middle">
                            <PropertyColumn Title="Drive" Property="@(disk => disk.DrivePath)" Sortable="true" />
                            <TemplateColumn Title="Total (MB)">
                                @context.TotalDriveMB.ToString("N0")
                            </TemplateColumn>
                            <TemplateColumn Title="Used (MB)">
                                @context.UsedDriveMB.ToString("N0")
                            </TemplateColumn>
                            <TemplateColumn Title="Free (MB)">
                                @context.FreeDriveMB.ToString("N0")
                            </TemplateColumn>
                            <TemplateColumn Title="Used %">
                                <RadzenProgressBar Value="@context.UsedPercent" Max="100" Style="height: 20px;" 
                                                   ProgressBarStyle="@(context.UsedPercent > 90 ? ProgressBarStyle.Danger : context.UsedPercent > 80 ? ProgressBarStyle.Warning : ProgressBarStyle.Success)" 
                                                   ShowValue="true" />
                            </TemplateColumn>
                        </QuickGrid>
                    </div>
                </RadzenCard>
            </div>
        </div>
    }
}

@code {
    private List<DatabaseSizeAggregate> databases = new();
    private List<FileGroupAggregate> fileGroups = new();
    private List<DiskSpaceInfo> diskSpaceInfo = new();
    private string? selectedDatabase;
    private DatabaseSizeAggregate? selectedDatabaseData;
    private List<ChartDataItem> dbSpaceChartData = new();
    private List<ChartDataItem> diskChartData = new();
    private bool isLoading = true;
    private string? errorMessage;

    // ApexCharts Options
    private ApexChartOptions<ChartDataItem> dbSpaceChartOptions = new()
    {
        Chart = new Chart { Type = ChartType.Donut },
        Colors = new List<string> { "#F44336", "#4CAF50" },
        Legend = new Legend { Position = ApexCharts.LegendPosition.Bottom },
        PlotOptions = new PlotOptions
        {
            Pie = new PlotOptionsPie
            {
                Donut = new PlotOptionsDonut
                {
                    Labels = new DonutLabels
                    {
                        Show = true,
                        Total = new DonutLabelTotal
                        {
                            Show = true,
                            Label = "Total",
                            FontSize = "16px"
                        }
                    }
                }
            }
        },
        DataLabels = new DataLabels
        {
            Enabled = true,
            Formatter = "function(val, opts) { return opts.w.config.series[opts.seriesIndex].toFixed(1) + ' MB'; }"
        }
    };

    private ApexChartOptions<DatabaseSizeAggregate> allDbChartOptions = new()
    {
        Chart = new Chart { Type = ChartType.Bar, Stacked = true },
        Colors = new List<string> { "#F44336", "#4CAF50" },
        PlotOptions = new PlotOptions
        {
            Bar = new PlotOptionsBar { Horizontal = true }
        },
        Xaxis = new XAxis { Title = new AxisTitle { Text = "Size (MB)" } },
        Legend = new Legend { Position = ApexCharts.LegendPosition.Top }
    };

    private ApexChartOptions<FileGroupAggregate> fileGroupChartOptions = new()
    {
        Chart = new Chart { Type = ChartType.Bar, Stacked = true },
        Colors = new List<string> { "#F44336", "#4CAF50" },
        PlotOptions = new PlotOptions
        {
            Bar = new PlotOptionsBar { Horizontal = false }
        },
        Xaxis = new XAxis { Title = new AxisTitle { Text = "FileGroup" } },
        Yaxis = new List<YAxis> { new YAxis { Title = new AxisTitle { Text = "Size (MB)" } } },
        Legend = new Legend { Position = ApexCharts.LegendPosition.Bottom }
    };

    private ApexChartOptions<DiskSpaceInfo> diskRadialOptions = new()
    {
        Chart = new Chart { Type = ChartType.RadialBar },
        Colors = new List<string> { "#2196F3" },
        PlotOptions = new PlotOptions
        {
            RadialBar = new PlotOptionsRadialBar
            {
                Hollow = new Hollow { Size = "70%" },
                DataLabels = new RadialBarDataLabels
                {
                    Show = true,
                    Name = new RadialBarDataLabelsName { Show = true, FontSize = "16px" },
                    Value = new RadialBarDataLabelsValue 
                    { 
                        Show = true, 
                        FontSize = "24px",
                        Formatter = "function(val) { return val + '% Used'; }"
                    }
                }
            }
        }
    };

    private ApexChartOptions<ChartDataItem> diskDonutOptions = new()
    {
        Chart = new Chart { Type = ChartType.Donut },
        Colors = new List<string> { "#F44336", "#4CAF50" },
        Legend = new Legend { Position = ApexCharts.LegendPosition.Bottom }
    };

    protected override async Task OnInitializedAsync()
    {
        await LoadData();
    }

    private async Task LoadData()
    {
        isLoading = true;
        errorMessage = null;
        StateHasChanged();

        try
        {
            var result = await ApiClient.GetAggregatedDbSizeStatsAsync();
            databases = result.ToList();

            // Load disk space info
            var diskResult = await ApiClient.GetDiskSpaceInfoAsync();
            diskSpaceInfo = diskResult.ToList();
            UpdateDiskChartData();

            if (databases.Any())
            {
                selectedDatabase ??= databases.First().DatabaseName;
                await UpdateSelectedDatabaseData();
            }
        }
        catch (Exception ex)
        {
            errorMessage = $"Failed to load data: {ex.Message}";
        }
        finally
        {
            isLoading = false;
        }
    }

    private async Task OnDatabaseSelected()
    {
        await UpdateSelectedDatabaseData();
    }

    private async Task UpdateSelectedDatabaseData()
    {
        selectedDatabaseData = databases.FirstOrDefault(d => d.DatabaseName == selectedDatabase);
        
        if (selectedDatabaseData != null)
        {
            dbSpaceChartData = new List<ChartDataItem>
            {
                new ChartDataItem { Label = "Used", Value = selectedDatabaseData.TotalUsedMB },
                new ChartDataItem { Label = "Free", Value = selectedDatabaseData.TotalFreeMB }
            };

            // Load FileGroup stats for selected database
            var fgResult = await ApiClient.GetFileGroupStatsAsync(selectedDatabase!);
            fileGroups = fgResult.ToList();
        }
    }

    private void UpdateDiskChartData()
    {
        if (diskSpaceInfo.Any())
        {
            // Aggregate all disk space for the chart
            var totalUsed = diskSpaceInfo.Sum(d => d.UsedDriveMB);
            var totalFree = diskSpaceInfo.Sum(d => d.FreeDriveMB);
            
            diskChartData = new List<ChartDataItem>
            {
                new ChartDataItem { Label = "Used", Value = totalUsed },
                new ChartDataItem { Label = "Free", Value = totalFree }
            };
        }
    }

    // Chart data model for ApexCharts
    public class ChartDataItem
    {
        public string Label { get; set; } = string.Empty;
        public decimal Value { get; set; }
    }
}
